.card{
    width: auto;
    height: auto;
    display: inline-flex;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(255,215,0, 0.5) !important;
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(255,215,0, 0.8) !important;
}
.container{
    text-align: center;
    color: rgb(255,215,0);
    position: relative;
    top:50px;
    
}
.border-bottom{
    border-color: rgba(255, 217, 0, 0.5) !important;
}
h3{
    margin-bottom: 1rem !important;
}
.paragraf{
    margin-bottom: 0.5rem;
}
.header{
    border-bottom: 2px solid rgb(255,215,0,0.9) !important;
}
.big-text-less{
    overflow: hidden;
    height: 120px;
    cursor: pointer;
}
.big-text-more{
    /* height: auto; */
    cursor: pointer;
}
.card:hover .left{
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 -10px rgb(255,215,0);
    }
    to {
      text-shadow: 0 0 10px rgb(255,215,0);
    }
}
.left{
    margin-bottom: 0;
}
input[type=text] {
    padding: 5px;
    border: 1px solid rgba(255,215,0,0.9);
    float: right;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 15px;
    display: none;
    width: 100%;
    border-radius: 15px;
}
button:hover {
    background: #0b7dda;
}
::after {
    content: "";
    clear: both;
    display: table;
}
#searchBox{
    position: absolute;
    right: 67px;
    top:5px;
    width: 500px;
}
#searchLoad{
    position:absolute;
    z-index:23;
    display:none;
    clip: rect(36px,500px,244px,0px);
    left:30%
}
#overlay{
    position:absolute;
    height:100%;
    width:100%;
}
#overlay{
    /* background:black; */
    background: url(https://i.ytimg.com/vi/sbfJnfEPXNM/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity:.7;
    z-index:2;
    display:none;
}
#search-card{
    max-height: 440px;
    z-index: 20;
    position:absolute;
    width:30%;
    display:none;
    color:rgb(255,215,0);
    overflow: auto;
}
body{
    background: url(https://i.ytimg.com/vi/sbfJnfEPXNM/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* SEARCH LASER */
#searchButton{
    float: left;
    padding: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    width: 90px;
	height: 35px;
    background: linear-gradient(to top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);
    border-right: solid 4px grey;
	border-left: solid 5px grey;
    border-radius: 5px;
    position: absolute;
    top:10px;
    right: 0;
}
#switch{
    background: #B94A37;
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 22px;
	right: 62px;
	transition: left 200ms;
	border-radius: 10px;
}
.switchOn{
    background: #468847 !important;
}
.lasersword {
	background: rgb(255,215,0); /* Old browsers */
	background: linear-gradient(to top, rgb(255,215,0) 0%,rgb(254,254,254) 45%,rgb(254,254,254) 50%,rgb(254,254,254) 55%,rgb(255,215,0) 100%); /* W3C */
	background: -moz-linear-gradient(top, rgb(255,215,0) 0%, rgb(254,254,254) 45%, rgb(254,254,254) 50%, rgb(254,254,254) 55%, rgb(255,215,0) 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, rgb(255,215,0) 0%,rgb(254,254,254) 45%,rgb(254,254,254) 50%,rgb(254,254,254) 55%,rgb(255,215,0) 100%); /* Chrome10+,Safari5.1+ */
	animation-name: laser;
	-moz-animation-name: laser;
	-webkit-animation-name: laser;
	animation-duration: 2s;
	-moz-animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
div {
	-webkit-transform : translateZ(0); 
	-o-transform : translateZ(0); 
	-moz-transform : translateZ(0); 
	transform : translateZ(0); 
}
.plasma {
	transition: height 300ms,;
	-moz-transition: height 300ms;
	-webkit-transition: height 300ms;
	border-radius: 12px 12px 0 0;
	position: absolute;
	bottom: 55px;
	width: 10px;
	display: block;
	filter: blur(1px);
	-moz-filter: blur(1px);
	-webkit-filter: blur(1px);
}
/* Animations */
@keyframes laser {
	from { box-shadow: 0 0 10px rgb(255,215,0); }
	50% { box-shadow: 0 0 25px rgb(255,215,0); }
	to { box-shadow: 0 0 10px rgb(255,215,0); }
}